{% extends 'base.html' %}
{% block content %}

<div class="login-container">
    <h2>Присъедини се към нашата общност</h2>
    <p>Добре дошъл отново , Рибарю !</p>

    <form method="post" class="fishing-form">
        {% csrf_token %}
        <div class="sign-up-form">{{ form.as_p }}</div>
        <button type="submit" class="btn-submit-report">Влез</button>
    </form>

    <div class="register-form">
        <p>Още ли нямаш профил при нас? Невъзможно !
            <a href="{% url 'signup' %}">Регистирай се тук</a>
        </p>
    </div>
</div>
{% endblock %}