.hero-section {
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('/static/images/main.jpg'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.hero-section h1 {
    font-size: 4rem;
    color: #ffca28;
    margin-bottom: 10px;
}
.hero-overlay {
    background: rgba(0, 0, 0, 0.5);
    padding: 40px;
    border-radius: 10px;
    width: 150%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.places-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 25px;
    padding: 20px;
}
.place-card {
    background: white;
    border-radius: 15px;
    overflow: hidden; 
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
    transition: 0.3s;
    display: flex;
    flex-direction: column;
}
.place-card:hover { transform: translateY(-5px); }
.place-image { width: 100%; height: 200px; overflow: hidden; position: relative; }
.place-image img { width: 100%; height: 100%; object-fit: cover; display: block; }

.badge {
    position: absolute;
    top: 10px; right: 10px;
    background: #1a3c34; color: white;
    padding: 5px 12px;
    border-radius: 20px;
    font-size: 1rem;
}
.place-content { padding: 15px; }
.btn-more {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 20px;
    background: #1a3c34; color: white;
    text-decoration: none;
    border-radius: 5px;
}
/* Основният жълт бутон в Hero секцията */
.btn-primary {
    background-color: #ffca28; /* Твоето жълто */
    color: #1a3c34;            /* Тъмното зелено за контраст */
    padding: 15px 35px;        /* Малко по-голям за Hero-то */
    text-decoration: none;
    font-weight: bold;
    font-family: 'Oswald', sans-serif;
    font-size: 1.2rem;
    border-radius: 30px;       /* Заоблени краища (тип "хапче") */
    display: inline-block;
    transition: all 0.3s ease;
    box-shadow: 0 4px 15px rgba(0,0,0,0.2);
    border: none;
    cursor: pointer;
    margin-top: 30px;
}

.btn-primary:hover {
    background-color: #e5b823; /* Малко по-тъмно жълто при посочване */
    transform: translateY(-3px); /* Леко повдигане */
    box-shadow: 0 6px 20px rgba(0,0,0,0.3);
    color: #1a3c34;
}